@font-face {
    font-family: "Atkinson Hyperlegible Next";
    src: url("../../lib/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6, .Title {
    font-family: Atkinson Hyperlegible Next, Arial, Helvetica, sans-serif;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget, body, input, textarea, select, button {
    font-family: Atkinson Hyperlegible Next, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
