@font-face {
    font-family: "Inter";
    src: url("../../lib/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

h1,h2,h3,h4,h5,h6,.Title {font-family: Inter, Arial, Helvetica, sans-serif;}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget, body, input, textarea, select, button {font-family: Inter, Arial, Helvetica, sans-serif;}